<ion-header>
  <ion-navbar color="alternate">
    <ion-title>Mentors Request</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="mentors" padding>
    <ion-item-divider *ngIf="mentors.length == 0" text-center style="color:#525252; font-weight:bold">No mentor join request at the moment.</ion-item-divider>
    <ion-item-divider *ngIf="mentors.length !== 0" style="color:#525252; font-weight:bold">{{mentors.length}} pending {{mentors.length == 1 ? 'request' : 'requests' }}</ion-item-divider>
  </div>
    <div *ngIf="mentors">
      <ion-list padding-left padding-right>
        <ion-item-sliding *ngFor="let mentor of mentors; let i = index" #itemSliding>
          <button ion-item style="background:inherit !important" (click)="onMentor(mentor)">
            <div item-left  *ngIf="mentor.photo == 'N/A'"><img src="assets/imgs/index2.jpeg" height="=70px" width="70px"></div>
            <div item-left *ngIf="mentor.photo !== 'N/A'"><img src="{{imageUrl}}{{mentor.photo}}" height="70px" width="70px"></div>
            <h2 style="padding-top:3px; color:#81007F">{{mentor.fname}} {{mentor.lname}}</h2>
            <p>{{ mentor.email }}</p>
            <p>{{ mentor.phone }}</p>
          </button>
          <ion-item-options>
            <button ion-button color="save" icon-left (click)="onApprove(mentor.id,i,itemSliding,mentor.fname+' '+mentor.lname)"><ion-icon name="checkbox"></ion-icon> approve</button>
            <button ion-button color="trash" icon-left (click)="onDelete(mentor.id,i,itemSliding,mentor.fname+' '+mentor.lname)"><ion-icon name="trash"></ion-icon>delete</button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
</ion-content>
<ion-footer class="footer" text-center>
  Pursuit Of Purpose Network
</ion-footer>
