<ion-header>
  <ion-navbar color="alternate">
    <ion-title>Co Mentees</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>
  <div *ngIf="comentees">
    <div text-center padding style="font-weight:bold; color:#5b5b5b" *ngIf="comentees.length == 0">
      No co mentees at the moment.
    </div>
    <ion-item-divider  text-left style="font-weight:bold; color:#5b5b5b" *ngIf="comentees.length !== 0">
      {{ comentees.length }} {{ comentees.length <= 1 ? 'Co Mentee' : 'Co Mentees'}}
    </ion-item-divider>
  </div>

  <div *ngIf="comentees">
    <button ion-item style="background:inherit !important" *ngFor="let comentee of comentees; let i = index" (click)="seeDetails(comentee.user)">
      <div item-left  *ngIf="comentee.user.photo == 'N/A'"><img src="assets/imgs/index2.jpeg" height="70px" width="70px"></div>
      <div item-left *ngIf="comentee.user.photo !== 'N/A'"><img src="{{imageUrl}}{{comentee.user.photo}}" height="70px" width="70px"></div>
      <h2 style="color:#81007F; padding-top:3px">{{comentee.user.fname}} {{comentee.user.lname}}</h2>
      <p>{{ comentee.user.email }}</p>
      <p>{{ comentee.user.phone }}</p>
      <p *ngIf="comentee.user.bann == 1">(Suspended)</p>
    </button>
  </div>
</ion-content>

<ion-footer text-center class="footer">
  Pursuit Of Purpose Network
</ion-footer>