page-viewphoto {
  .footer{
    background:black;
    color:#fff !important;
    font-weight:bold;
    font-style:italic;
    height:50px !important;
  }

  .container{
    background-color:black !important;
  }

  .mybar{
    background:black !important;
  }
}
