page-editprofile {
.icon-ion{
  color:#81007F !important;
}

  ion-label{
    color:#81007F !important;
  }

  input[type=text]{
    color:#2f2f2f
  }

  input[type=email]{
    color:#2f2f2f;
  }

  input[type=password]{
    color:#2f2f2f;
  }

  ion-select{
    color:#2f2f2f
  }



}
