page-sent-message {
  ion-item{
    color:black !important;
  }

  .body{
    background:#e1e1e1;
  }

  .footer{
    background:#81007F;
    color:#fff !important;
    font-weight:bold;
    font-style:italic;
  }
}
