page-mentorinfo {
  .footer{
    background:#81007F;
    color:#fff !important;
    font-weight:bold;
    font-style:italic;
  }

  .myrow{
    padding: 5px 0 !important;
    color: #525252 !important;
  }
}
