<ion-header>
  <ion-navbar color="alternate">
    <ion-buttons end>
      <button ion-button icon-only (click)="onClose()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Mentee</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="mentee && mentee.length !== 0">
    <ion-item text-center>
      <img src="assets/imgs/index2.jpeg" height="100px" width="100px" style="border-radius: 20px" *ngIf="mentee.photo == 'N/A'">
      <img (click)="onView(mentee.photo)" src="{{imageUrl}}{{mentee.photo}}" alt="my photo" height="100px" width="100px" style="border-radius: 20px" *ngIf="mentee.photo !== 'N/A'">
    </ion-item>
    <div padding-left padding-right>
      <ion-item no-lines>
        <ion-grid>
          <ion-row>
            <ion-col col-4>
              <p style="font-weight:bold">Name:</p>
            </ion-col>
            <ion-col col-8>
              <p> {{ mentee.fname }} {{ mentee.lname }}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4>
              <p style="font-weight:bold">Email:</p>
            </ion-col>
            <ion-col col-8>
              <p>{{ mentee.email }}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4>
              <p style="font-weight:bold">Phone:</p>
            </ion-col>
            <ion-col col-8>
              <p>{{ mentee.phone }}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4>
              <p style="font-weight:bold">Gender:</p>
            </ion-col>
            <ion-col col-8>
              <p>{{ mentee.gender }}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4>
              <p style="font-weight:bold">Interest:</p>
            </ion-col>
            <ion-col col-8>
              <p>{{ mentee.careerfield }}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4>
              <p style="font-weight:bold">Role:</p>
            </ion-col>
            <ion-col col-8>
              <p>Mentee</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

    </div>
  </div>
</ion-content>
<ion-footer class="footer" text-center>
  Pursuit Of Purpose Network
</ion-footer>
