page-allmentors {
  .footer{
    background:#81007F;
    color:#fff !important;
    font-weight:bold;
    font-style:italic;
  }

  input[type=text]{
    background:#fff !important;
    color: #aaaaaa;
  }

  .suspended{
    background:#ccc
  }
}
