page-schedule {
.body{
  background:#e1e1e1;
}
  ion-card-title{
    padding:0 !important;
    margin:0 !important;
  }

  .footer{
    background:#81007F;
    color:#fff !important;
    font-weight:bold;
    font-style:italic;
  }
}
