page-addgoal {
  ion-label{
    color:#81007F !important;
    font-weight:500 !important;
  }
  .footer{
    background:#81007F !important;
    color:#fff !important;
    font-weight:bold;
    font-style:italic;
  }

  input::placeholder {
    color: #2f2f2f !important;
    opacity: 0.5;
  }

  ion-input[type=text]{
    color: #2f2f2f !important;
  }

  ion-textarea{
    color: #2f2f2f;
  }

}
