page-mymentees {
 .body{
   background: #e1e1e1;
 }

  ion-item{
    padding:2px;
  }

  .footer{
    background:#81007F;
    color:#fff !important;
    font-weight:bold;
    font-style:italic;
  }
}
